<h1>Add Links</h1>

<form action="/links" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title" />
  <label for="url">URL:</label>
  <input type="text" name="url" />
  <label for="tags">Tags:</label>
  <input type="text" name ="tags" />
  <input type="submit" value="Add link" />
</form>
