
<form action='/links/save' method='post'>
  Title <input type='text' label='title' name='title' id='title'/>
  URL <input type="text" label="url" name="url"/>
  Tag <input type="text" label="tags" name="tags"/>
  <input type="submit" label="add link" id="add link"/>
</form>
