
<form action='/links/save' method='post'>
  <label for='Title'>
  <input type='text' label='title' name='title' id='title'/>
</label>
  <input type="text" label="url" name="url"/>
  <input type="submit" label="add link" id="add link"/>
</form>
